body {
	background: white;
	font-family: arial, sans-serif;
	background-color: #3FA9E2;
	font-size: 0.75em;
  }

  table, td, th {
	border: 1px solid black;
  }
  
  th{
	border: 1px solid red;
  }
  table {
	border-collapse: collapse;
	width: 50%;
  }

.addToCartBtn{
	padding: 5px;
	margin: 5px;
	font-size:small;
	background-color: #3fe290;
	border-radius: 0.3em;
}

.error{
	color: red;
}

.success{
	color: green;
}

.small {
	background-color: #dde035;
	color: white;
}
  
.medium {
	background-color: #e2633d;
	color: white;
}
  
.large {
	background-color: #e03392;
	color: white;
}